.box-container-product-card{
    width:100%;
    height:400px;
    /* border:1px solid black; */
    /* background-color: red; */
    /* padding:5px; */
    /* padding-left:5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-product-card{
    width:98%;
    height:100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    overflow-x:scroll;
}
.inner-product-card::-webkit-scrollbar{
    display: none;
}
.card-tokped-iklan{
    width:25%;
    min-width:25%;
    height:95%;
    /* border:1px solid black; */
    border-radius:5px;
    background-color: yellow;
}
.card-half-tokped{
    width:60%;
    height:100%;
}
.card-half-tokped img{
    width:100%;
    height:100%;
}

.card-product-box {
    width:270px;
    /* min-width:20%; */
    min-width:270px;
    height:90%;
    max-height:350px;
    border:1px solid #dedede;
    border-radius:10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin:3px;
    text-decoration: none;

    
}

.tokped_ads_active{
    position: relative;
    left:-10%;
    background-color: white;
}
.box-badge-product-card{
    height:10%;
    width:100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}
/* .box-badge-product-card img{
    width:40px;
    height:40px;
    position: relative;
    top:-25%;
    right:-5%;
} */

#badge_new{
    width:40px;
    height:40px;
    position: relative;
    top:-0%;
    right:0%
}
#badge_seller{
    width:40px;
    height:40px;
    position: relative;
    top:-25%;
    right:-5%;
}
#badge_groupbuy{
    width:40px;
    height:40px;
    position: relative;
    top:-50%;
    right:-5%;
}

.box-img-product-card{
    width:100%;
    height:65%;
    /* border:1px solid black; */
}
.box-img-product-card img{
    height:100%;
    width:100%;
}
.product-name-detail{
    width:100%;
    height:40px;
    display: flex;
    justify-content: flex-start;
    padding-left:5px;
    /* background-color: blue; */
}
.product-name-detail p {
    margin:0px !important;
    font-size:0.9em;
    overflow-x:scroll;
    text-decoration: none !important;
    color:black;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.box-price-buy-product-card{
    width:100%;
    height:25%;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.box-price-product-detail {
    width:100%;
    height:90%;
    display: flex;
    flex-direction: row;
}
.inner-price-box-product-card{
    width:70%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-top-price-product-card{
    width:100%;
    height:50%;
    /* border:1px solid pink; */
    display: flex;
    justify-content: flex-start;
    padding-left:10px;
    align-items: center;
}

.inner-buy-box-product-card{
    width:30%;
    height:100%;
    /* border:1px solid green; */
    display: none;
    justify-content: center;
    align-items: center;
}
.inner-buy-box-product-card img{
    width:50%;
    height:50%;
}
.inner-buy-box-product-card img:hover{
    cursor: pointer;
}

#discount-price{
    text-decoration: line-through;
    font-size:16px;
    color:#F7941D;
}
#normal-price {
    font-size:16px;
    color:#27aae1;
    text-decoration: none;
}
/* EFFECT */

.hvr-float-shadow {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:active,
.hvr-float-shadow:focus,
.hvr-float-shadow:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    cursor: pointer;
    /* move the element up by 5px */
}

.hvr-float-shadow:active:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* EFFECT END */

