.box-container-product{

    width:100%;
    height:100vh;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.box-render-card-product{
    width:100%;
    height:100vh;
    border:1px solid black;
    background-color: pink;
}