
.box-container-product-detail{
    width:100%;
    height:100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.breadcrumb-product-detail-box {
    width:100%;
    height:50px;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    /* padding-left:20px; */
}
.breadcrumb{
    margin:0px !important;
}
.breadcrumb-item a {
    text-decoration: none !important;
    color:#27aae1;
}
.breadcrumb-item.active {
    color:#F7941D;
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "> " !important;
    padding: 0 5px;
}
.header-slider-product-detail{
    height:50px;
    width:100%;
    background-color: #dedede;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.product-name-slider-box {
    width:35%;
    height:100%;
    border:1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:20px;
}
.product-name-slider-box p {
    margin:0px !important;
    white-space: nowrap;
    /* width: 300px; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:600;
}
.box-option-product-slider{
    width:40%;
    height:100%;
    display: flex;
    flex-direction: row;
    border:1px solid black;
}
.box-option-1 {
    width:25%;
    height:100%;
    border:1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-option-1 p {
    font-size:13px;
    margin:0px !important;
}
.slider-active-product-detail{
    border-bottom:3px solid green
}