
.box-container-product-detail{
    width:100%;
    height:100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.breadcrumb-product-detail-box {
    width:100%;
    height:50px;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:relative;
    top:20%;
    /* background-color: red; */
    /* padding-left:20px; */
}
.breadcrumb{
    margin:0px !important;
}
.breadcrumb-item a {
    text-decoration: none !important;
    color:#27aae1;
}
.breadcrumb-item.active {
    color:#F7941D;
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "> " !important;
    padding: 0 5px;
}
.header-slider-product-detail{
    height:50px;
    width:100%;
    min-height:50px;
    /* background-color: #dedede; */
    background-color: white;
    position: relative;
    /* display: none; */
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    transition:1s;
}
.active-box-slider {
    display: flex;
    transition:1s;
    position: fixed;
    top:20%;
    z-index:2;
    box-shadow: 0px 15px 10px -15px #111;
}
.product-name-slider-box {
    width:35%;
    height:100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:20px;
}
.product-name-slider-box p {
    margin:0px !important;
    white-space: nowrap;
    /* width: 300px; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:600;
}
.box-option-product-slider{
    width:40%;
    height:100%;
    display: flex;
    flex-direction: row;
    /* border:1px solid black; */
}

.box-option-1 {
    width:25%;
    height:100%;
    /* border:1px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-option-1 p {
    font-size:13px;
    margin:0px !important;
}
.slider-active-product-detail{
    border-bottom:3px solid #23aae1;
}
.box-option-1:hover{
    cursor:pointer;
}

.detail-product-box{
    width: 100%;
    height:100%;
    min-height:100%;
    display: flex;
    flex-direction: row;
    position:relative;
    top:20%;
    background-color:pink;
}
.detail-product-big-left {
    width:70%;
    height:100%;
    /* background-color:red; */
    display:flex;
    flex-direction:column;
}
.detail-product-top{
    width:100%;
    height:100%;
    display: flex;
    flex-direction:row;
}
.detail-product-bottom{
    width:100%;
    height:1000px;
}


.box-detail-product-img{
    width:30%;
    height:100%;
    /* background-color:blue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding:10px;
    padding-top:20px;
    flex-direction: column;
    position:fixed;
}
.box-img-pd {
    width:80%;
    height:250px;
    /* border:1px solid black; */
    border-radius:10px;
}
.box-img-pd img {
    width:100%;
    height:100%;
    border-radius:10px;
}

.box-detail-product-description{
    width:40%;
    height:100%;
    /* background-color:green; */
    padding:10px;
    padding-top:20px;
    position: absolute;
    left:30%;
    /* margin-left:-20%; */
    /* display: flex; */
    /* flex-direction: row; */
}

.description-detail-pd {
    width: 100%;
    height:100px;
    /* border:1px solid black; */
}
.description-detail-pd p {
    font-weight:700;
    font-size:22px;
}
.description-price-pd {
    width:100%;
    height: 50px;
}
.description-price-pd p {
    font-size:24px;
    font-weight:700;
}

.detail-description-product {
    height:auto;
    width: 100%;
    /* background-color:red; */
    display: flex; 
    flex-direction: column;
    border-top:1px solid #dedede;
    /* border-bottom:1px solid #dedede; */
}
.box-detail-product-price {
    width:30%;
    height: 50%;
    background-color:greenyellow;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 175px;
    right:0;
    z-index:3;
    border-radius: 10px 0 0 10px;
}
.nav-item {
    border:none !important
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    border-color:transparent !important;
    border-bottom:2px solid #27aae1 !important;
    color:#27aae1 !important;
}
.nav-link{
    color:#A5A6A9 !important;;
    transition:0.5s !important;
    font-weight:700 !important;
}
.nav-link:hover{
    border-color:transparent !important;
    color:black !important;
    
}
.box-option-img-product{
    width:80%;
    height:60px;
    /* border:1px solid black; */
    border-radius:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top:5px;
}

.final-box-img-option{
    width:20%;
    height:100%;
    /* border:1px solid black; */
    border-radius:10px;
}
.final-box-img-option img{
    width:100%;
    height:100%;
    border-radius:10px;
    transition:0.5s;
}
.active-final-box-img{
    border:2px solid #27aae1;
}


.box-tab-description{
    width: 100%;
    height:auto;
    /* background-color:red; */
}
.box-inside-description{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:blue; */
    flex-direction:column;

}
.ul-box-description{
    width: 100%;
    height:50px;
    /* background-color:red; */
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.li-box-description{
    width:100%;
    /* height:100%; */
    display: flex;
    flex-direction: row;
    /* border:1px solid black; */
}
.li-box-description{
    color:#A5A6A9;
}

.main-li-box {
    color:black;
}

.main-description-detail-product{
    height:auto;
    width:100%;
    display: flex;
    justify-content:center;
    flex-direction:column;
    /* align-items:center; */
    /* background-color:red; */
}
.main-description-detail-product p {
    margin:0px !important;

}

.company-description-box {
    width: 100%;
    height:70px ;
    /* border:1px solid black; */
    border-top:1px solid #A5A6A9;
    margin-top:10px;
    display: flex ;
    flex-direction: row;
}
.img-box-company-description {
    width:20%;
    height: 100%;
    /* border:1px solid black; */
    padding-top:10px;
    display: flex ;
    justify-content:center;
    /* align-items:center; */
}
.img-company-description{
    width:80%;
    height:80%;
    border:1px solid black;
    border-radius:10px;
}

.company-description-detail{
    width:60%;
    height:100%;
    /* border:1px solid black; */
    /* border-top:1px solid #dedede; */
    display: flex;
    flex-direction:column;
    
}
.company-description-detail p:nth-child(1){
    font-size:20px;
    font-weight:600;
}

.ulasan-product-detail{
    width:70%;
    height:500px;
    min-height:500px;
    background-color:red;
}

