
.box-container-login {
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    flex-direction: column;
}
.box-solped-logo {
    width:100%;
    height:10%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img-login{
    width:15%;
    height:70%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img-login:hover{
    cursor: pointer;
}
.box-solped-isi{
    width:100%;
    height:80%;
    /* border:1px solid pink; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.box-iklan-isi-login{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img-iklan{
    width:80%;
    height:80%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-solped-footer {
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border:1px solid blue; */
}
.box-solped-footer p:nth-child(1){
    font-size:1em;
    font-weight:100;
    margin-right:10px;
}

.box-solped-footer p:nth-child(2){
    font-weight:700;
    color:#27aae1;
    position: relative;
    left:10px;
}
.box-solped-footer p:nth-child(2):hover{
    cursor: pointer;
}
.box-card-login{
    width:70%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
    background-image: url(../../Assets//background-tokped.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 65% 65%;
    
}

.card-login{
    width:45%;
    height:80%;
    background:white;
    border:1px solid #e0e0e0;
    border-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:16px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.box-top-detail-login{
    width: 100%;
    height:10%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.box-top-detail-login p:nth-child(1){
    font-weight:700;
    font-size:1em;
}
.box-top-detail-login  a p:nth-child(1){
    font-weight:400;
    font-size:0.9em;
    color:#27aae1;
    text-decoration: none;
}
.box-top-detail-login a {
    text-decoration: none;
}
.box-top-detail-login p:nth-child(2):hover{
    cursor: pointer;
}
.google-btn-box-login{
    width:100%;
    height:10%;
    /* border:1px solid pink; */
}
.btn-google{
    width:100%;
    height:100%;
    /* border:1px solid #dedede; */
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-with-another{
    width:100%;
    height:10%;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login-with-another p:nth-child(2) {
    color:#b8b8b8;
    font-weight:600 !important;

    
}
.box-garis-login{
    width:25%;
    border:1px solid #b8b8b8;
    
}
.box-input-email-login{
    width:100%;
    height:30%;
    /* border:1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}
.box-input-email-login p:nth-child(1){
    font-weight:700;
    font-size:1em;
}
.box-input-email-login p:nth-child(3){
    font-size:400;
    font-size:0.7em;
}
.input-email-login{
    width:100%;
    height:40px;
    border-radius:5px;
    border:1px solid #dedede;
    outline: none;
    transition:0.5s;
}
.input-email-login:focus{
    border:1px solid #27aae1;
}
.btn-selanjutnya-login{
    width:100%;
    height:20%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column
    
}
.btn-selanjutnya-login p:nth-child(1){
    font-weight:400;
    font-size:0.9em;
    color:#27aae1;
    width:100%;
    text-align: end;
}
.btn-selanjutnya-login p:nth-child(1):hover{
    cursor: pointer;
}
.btn-next-login{
    width:100%;
    height:60%;
    border:1px solid #dedede;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    transition: 1s;
}
.active-login{
    background-color:#27aae1;
}
.active-login p {
    color:white !important;
}
/* .active-login:hover{
    background-color: #27aae1;

} */
/* .active-login:hover p {
    color:white !important;
} */
.btn-selanjutnya-login .btn-next-login p {
    text-align: center;
    font-size:1.3em;
    color:#16384c;;
    font-weight:600;
    transition:1s;
    /* background-color:red; */
}
.box-bantuan-login{
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.box-bantuan-login p {
    font-size:1em;
}
.box-bantuan-login p span{
    color:#27aae1;
    font-weight:500;
}
.box-bantuan-login p span:hover{
    cursor: pointer;
}
.btn-google-real{
    width:100%  !important;
    height:100% !important;
    /* background-color: red; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}
.btn-google-real div{
    /* width:100%; */
    height:100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-google-real span{
    font-weight:700 !important;
    /* color:black; */
    font-size:1em;
}

.email-keisi-login{
    width:100%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
}

.input-email-keisi{
    width:90%;
    height:40px;
    border:none;
    transition: 1s;
}
.input-email-keisi:focus{
    outline: none;
    /* border:1px solid #27aae1; */
    /* border:1px solid #27aae1;; */
}

.input-email-keisi:focus .password-keisi-login{
    border:1px solid #27aae1 !important;
}

.icon-mata{
    font-size:20px;
    margin-right:10px;
}
.icon-mata:hover{
    cursor: pointer;

}


.password-keisi-login{
    width:100%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #dedede;
    border-radius:5px;
    padding-left:10px;
    transition:1s;
}



.modal-dialog{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.password-keisi-login:focus-within{
    border:1px solid #27aae1;;
}
/* .modal-content-unknown {
    width:250px;
    height:200px;
} */
.modal-header-unknown {
    width:100%;
    /* height:50%; */
}
.modal-body-unknown {
    width:100%;
    height:150px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-body-unknown p:nth-child(1){
    font-size:1em;
    color:#a5a6a9;
}
.modal-body-unknown p:nth-child(2){
    font-size:1em;
    font-weight:700;
    color:#a5a6a9;
    text-align: center;
}

.btn-daftar-ubah{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-ubah-unknown{
    width:120px;
    height:30px;
    border-radius:5px;
    border:1px solid #27aae1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}
.btn-ubah-unknown:hover{
    cursor: pointer;
}
.btn-ubah-unknown p {
    font-size:1em;
    color:#27aae1 !important;
    font-weight:700;
}
.btn-daftar-unknown{
    width:120px;
    height:30px;
    border-radius:5px;
    border:1px solid #27aae1;
    background-color: #27aae1;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
    text-decoration: none;
}
.btn-daftar-unknown:hover{
    cursor: pointer;
}
.btn-daftar-unknown p {
    font-size:1em;
    color:white !important;
    font-weight:700;
}

#id_back_login{
    color:#27aae1 !important;
}
#id_back_login:hover{
    cursor: pointer;
}

.otp-input input {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px !important;
    height:40px !important;
}

.box-for-verify{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-verify{
    width:150px;
    height:30px;
    border:1px solid #27aae1;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:3px;
    transition:0.5s;
}

.box-verify p{
    color:#27aae1 !important;
    font-weight:700;
}
.box-verify:hover{
    cursor: pointer;
    background-color: #27aae1;
}
.box-verify:hover p {
    color:white !important;
}

.box-for-verify p:nth-child(2) {
    font-weight:500;
    font-size:0.8em !important;
    position: relative;
    top:20px;
}

.box-for-verify p:nth-child(2) span{
    color:#27aae1;
    font-weight:700;
}
.box-for-verify p:nth-child(2) span:hover{
cursor: pointer;
}