.container-buy-now {
    width:100%;
    height:100%;
    min-height:100%;
    display: flex;
    flex-direction: column;
}

.box-beli-langsung{
    width:100%;
    height:100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* top:20%; */
    padding:16px;
}
.box-beli-langsung p {
    font-size:24px;
    font-weight:600;
}
.last-page-beli-langsung{
    width:100%;
    height:20%;
    /* border:1px solid pink; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    border-radius:10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) -20%, rgba(39,170,225,1) 600%);

}
.last-page-beli-langsung p:nth-child(2){
    font-size:16px;
    font-weight:400;
    color:#a5a6a9;
}
.box-img-last-page{
    width:10%;
    height:70%;
    margin-right:10px;
}
.box-img-last-page img{
    width:100%;
    height:100%;

}

.box-barang-dibeli-container{
    width:100%;
    height:300px;
    /* border:1px solid black; */
    border-bottom:7px solid #dedede;
}
.box-barang-dibeli{
    width:100%;
    height:90%;
    /* border:1px solid black; */
}
.box-barang-dibeli p {
    font-size:22px;
    font-weight:600;
    padding:10px;
}

.company-name-belisekarang{
    width:100%;
    height:50px;
    display: flex;
    flex-direction: column;
    
}
.company-name-belisekarang p:nth-child(1){
    font-size:1em;
    font-weight:500;
    line-height:0.1;
    /* background-color: red; */
    margin: 0px !important;;
}

.company-name-belisekarang p:nth-child(2){
    font-size:0.7em;
    line-height:0.1;
    font-weight:400;
    /* background-color: blue; */

}

.product-card-dibeli{
    width:100%;
    height:150px;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border-bottom:5px solid #dedede; */
}
.box-img-dibeli{
    width:15%;
    height:100%;
}

.box-product-name-dibeli{
    width:80%;
    height:100%;
    /* border:1px solid pink; */
    display: flex;
    flex-direction: column;
    /* border-bottom:5px solid #dedede; */

}
.name-dibeli-box {
    width:100%;
    height:30%;
    /* border:1px solid green; */
}
.name-dibeli-box p {
    font-size:1em;

}
.harga-dibeli-box {
    width:100%;
    height:30%;
    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
}
.harga-dibeli-box p:nth-child(1) {
    font-size:0.9em;
    text-decoration: line-through;
    
}
.harga-dibeli-box p:nth-child(2) {
    font-size:0.9em;
    /* text-decoration: line-through; */
    
}

.box-note-dibeli{
    width:100%;
    height:70px;
    /* border:1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border-bottom:3px solid #dedede; */
}
.box-note-dibeli p{
    color:#27aae1;
    font-size:1em;
    margin:0px !important;
}
.box-note-dibeli p:hover{
    cursor: pointer;
}

.box-tambah-product-dibeli{
    width:80%;
    height:80%;
    /* border:1px solid yellow; */
    border-left:1px solid #dedede;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.plus-minus-box-dibeli{
    width:150px;
    height:70%;
    border:1px solid #dedede;
    border-radius:5px;
    margin-left:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
}
.input-product-dibeli {
    width:40%;
    border:none !important;
    font-size:1em;
}
.input-product-dibeli::placeholder{
    text-align: center;
}

.icon-minus-dibeli {
    font-size:20px;
}
.icon-minus-dibeli:hover{
    cursor: pointer;
}

.icon-plus-dibeli {
    font-size:20px;
}
.icon-plus-dibeli:hover{
    cursor: pointer;
}

.box-alamat-belilangsung{
    width:100%;
    height:auto;
    padding:16px;
}
.box-alamat-belilangsung p {
    font-size:22px;
    font-weight:600;
}
.box-pilih-alamat{
    margin-top:10px;
    width:70%;
    height:200px;
    border:1px solid #dedede;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* box-shadow: 10px 15px 10px -10px #dedede; */
    box-shadow:0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12))
}
.box-pilih-alamat-2{
    margin-top:10px;
    width:45%;
    height:250px;
    border:1px solid #dedede;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* box-shadow: 10px 15px 10px -10px #dedede; */
    box-shadow:0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));
}

.checking-alamat-belilangsung{
    width:100%;
    height:40%;
    /* border:1px solid black; */
    border-bottom:1px solid #dedede;

    display: flex;
    flex-direction: row;
    transition:0.5s;
}
.checking-alamat-belilangsung:hover{
    /* background-color: red; */
    cursor: pointer;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    box-shadow: 1px 5px 5px #dedede;
    -webkit-transition:  box-shadow .3s ease-in;

}

.checking-alamat-left{
    width:90%;
    height:100%;
    /* border:1px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
    padding-top:5px;
    padding-top:5px;
}

.checking-alamat-right{
    width:10%;
    height:100%;
    /* border:1px solid pink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-right{
    font-size:25px;
}

.alamat-name-belilangsung{
    display: flex;
    flex-direction: row;
    height:50%;
    width:100%;
    /* border:1px solid green; */
    align-items: center;
    padding-left:5px;
    padding-right:5px;
}
.alamat-detail-belilangsung{
    display: flex;
    flex-direction: row;
    height:50%;
    width:100%;
    /* border:1px solid blue; */
    /* justify-content: center; */
    align-items: center;
    padding-left:5px;
    padding-right:5px;
}
.alamat-detail-belilangsung p {
    font-size:0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:scroll;
}
.status-alamat-box {
    width:10%;
    height:60%;
    /* border:1px solid black; */
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5a6a9;
    margin-right:10px;
}
.status-alamat-box p {
    font-size:0.8em;
    color:white;
}
.alamat-name-belilangsung p:nth-child(2){
    font-size:0.9em;
    font-weight:700;
}
.alamat-name-belilangsung p  span{
    font-size:0.9em;
    font-weight:400;
}


.checking-kurir-belilangsung{
    width:100%;
    height:60%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
}
.checking-kurir-left{
    width:50%;
    height:100%;
    /* border:1px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    /* align-items: center; */
}
.checking-kurir-left p {
    font-size:18px;
    font-weight:700;
}
.checking-kurir-right{
    width:50%;
    height:100%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:10px;
}
.checking-kurir-right p {
    font-size:18px;
    font-weight:700;
}

.box-asuransi-belilangsung{
    width:70%;
    height:100px;
    border:1px solid #dedede;
    border-radius:5px;
    margin-top:20px;
    padding:10px;
    /* box-shadow: 10px 15px 10px -10px #dedede; */
    box-shadow:0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box-asuransi-belilangsung p {
    font-size:18px;
}

.box-price-asuransi{
    width:30%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
    
}
.box-price-asuransi p {
    font-size:20px;
    font-weight:700;
    margin: 0px !important;
    
}
.icon-checklist{
    font-size:20px;
    color:#a5a6a9;
    margin-left:10px;
}
.dropdown-asuransi{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.box-ringkasan-belanja{
    width:100%;
    height:100%;
    padding:16px;
    display: flex;
    flex-direction: column;
}
.box-ringkasan-belanja p{
    font-size:20px;
    font-weight:700;
}

.ringkasan-review-belanja{
    width: 100%;
    height:45%;
    /* border:1px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    border-bottom:1px solid #dedede;
}
.box-price-ringkasan{
    width:100%;
    height:100%;
    /* background-color: blue; */
    /* border:1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* background-color: red; */

}
.box-price-ringkasan ul {
    margin:0px !important;
    padding:0px !important;
}
.box-price-ringkasan ul li {
    list-style: none;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height:1.5;
}
.box-price-ringkasan ul li p {
    font-size:1em;
    font-weight:400;
    color:#a5a6a9;
}

.ringkasan-harga-belanja{
    width: 100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid #dedede;
    /* background-color: red; */

}

.box-btn-pilih-pembayaran{
    width:100%;
    height:30%;
    /* border:1px solid black; */
    position: relative;
    top:10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-pilih-pembayaran{
    width:40%;
    height:70%;
    /* border:1px solid black; */
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27aae1;
}
.btn-pilih-pembayaran:hover{
    cursor: pointer;
}
.btn-pilih-pembayaran p {
    font-size:1em;
    color:white;
}


.dropdown-pengiriman{
    height:60%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    flex-direction: column;
}

.box-alamat-buynow{
    width:95%;
    height:80px;
    border-radius:8px;
    border:1px solid #dedede;
    box-shadow:0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));
    display: flex;
    flex-direction: row;
    padding:10px;   
    align-items: center;
}


.searching-box-alamat{
    width:100%;
    height:50px;
    min-height:50px;;
    border-radius:8px;
    border:1px solid #dedede;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;

}

.modal-body-alamat-buynow{
    height:auto;
    max-height:500px;
    display: flex;
    flex-direction: column;
    padding:16px;
    /* overflow-x:scroll; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* overflow-x: scroll; */
}
.modal-body-for-scroll-alamat{
    width:100%;
    height:auto;
    max-height:300px;
    overflow-x: scroll;
}
.input-searching-alamat{
    width:90%;
    height:100%;
    border:none;
    border-radius:8px;
}
.input-searching-alamat:focus{
    border:none;
    outline: none;
}
.input-searching-alamat::after{
    border:none !important;
    outline: none;
}
.input-searching-alamat::placeholder{
    margin-left:10px;
    color:#dedede;
}
.box-icon-searching{
    width:10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}

.box-tambah-alamat-baru{
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    height:70px;
    min-height:70px;
    border-radius:8px;
    border:1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-tambah-alamat-baru p {
    font-weight:600;
    font-size:1em;
    color:#a5a6a9;
}
.box-tambah-alamat-baru p:hover{
    cursor: pointer;
}

.box-alamat-card {
    width:100%;
    height:200px;
    border:1px solid #dedede;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    padding:16px;
    margin-bottom:10px;

}
.active-alamat-card-utama{
    border:1px solid #27aae1;
}
.alamat-nama-customer{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    
}
.alamat-nama-customer p {
    font-size:1em;
    font-weight:600;

}
.alamat-nama-customer p span{
    font-weight:300;
}
.utama-alamat-box{
    width:80px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4e5fd;
    border-radius:5px;
    margin-left:10px;
}
.utama-alamat-box p {
    font-size:0.7em;
    color:#276ef1;
    font-weight:800;
}
.nomor-hp-customer{
    font-size:0.9em;
}
.box-detail-alamat-customer{
    width:70%;
    height:50%;
    max-height:50%;
    display: flex;
    justify-content: flex-start;
    margin-top:5px;
}

.box-btn-alamat{
    width:100%;
    height:20%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-ganti-alamat{
    width:20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-ganti-alamat p {
    font-size:0.9em;
    font-weight:800;
    color:#27aae1;
}
.btn-ganti-alamat:hover{
    cursor: pointer;
}
.btn-jadikan-utama{
    width:30%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-left:1px solid #dedede;

}
.btn-jadikan-utama:hover{
    cursor: pointer;
}
.btn-jadikan-utama p {
    font-size:0.9em;
    font-weight:800;
    color:#27aae1;
}

.total-tagihan {
    font-size:1em !important;
    font-weight:800 !important;
    color:black !important;
}
.price-tagihan {
    font-size:1em !important;
    font-weight:800 !important;
    color:#27aae1 !important;
}
