.header-container{
    height:120px;
    min-height:120px;
    width:100%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 10px -15px #111;
    z-index:2;
    /* position: fixed; */
    background-color:white;
    /* box-shadow:5px 5px 5px 5px red */
}
.new-box-login-register-header {
    height:80%;
    width:90%;
    /* border:1px solid #caf0f8; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: #caf0f8; */
    border-radius:5px;
    transition:0.5s;
    
}
.new-box-login-auth{
    width:90%;
    height:40%;
    border-radius:8px;
    background-color: #27aae1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.new-box-login-auth p {
    margin: 0px !important;
    color:white;
    font-size:0.9em;
}
.new-box-login-auth:hover{
    cursor: pointer;
}
.new-box-register-auth{
    width:90%;
    height:40%;
    border-radius:8px;
    background-color:white;
    border:1px solid #27aae1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.new-box-register-auth p {
    margin: 0px !important;
    color:#27aae1;
    font-size:0.9em;
}
.new-box-register-auth:hover{
    cursor: pointer;
}
.header-container-fixed{
    height:120px;
    min-height:120px;
    width:100%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 10px -15px #111;
    z-index:2;
    position: fixed;
    background-color:white;
    /* box-shadow:5px 5px 5px 5px red */
}

.header-top{
    width: 100%;
    height:20px;
    display: flex;
    flex-direction: row;
    background-color: #27AAE1;
}
.header-bottom{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}
.header-download-app{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:20%;
    /* background-color: green; */
    align-items: center;
    padding-left:20px;

}
.header-download-app p {
    font-size:8px;
    color:white;
    font-weight:600;
    transition:0.5s;
}
.header-download-app:hover{
    cursor: pointer;
}
.header-download-app:hover p{
    color:#F7941D;
}
.header-download-app:hover .icon-hp-download{
    color:#F7941D;
}
.icon-hp-download{
    width:15px;
    height:15px;
    color:white;
    transition:0.5s;
}
.header-top-option{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:80%;
    height:100%;
    /* background-color: pink; */
}
.option-top-header-box{
    width:12%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.option-top-header-box p {
    font-size:0.7em;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    transition:0.5s;
}
.option-top-header-box p:hover{
    cursor: pointer;
    color:#F7941D;
}
.dropdown {
    height:100%;
    width:100%;
}
.dropdown-menu-toggle-cart {
    /* position: relative !important; */
    top:-10px !important;
    width:400px !important;
    height:auto;
    max-height:300px !important;
    padding-left:5px !important;
    padding-right:5px !important;
    overflow-x:scroll;
    transition: 1s;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 11.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 11.1 */
        animation: fadein 1s;
        box-shadow: 0px 15px 10px -15px #111 !important;
}
.btn-secondary{
    background-color:transparent !important;
    border-color:transparent !important;;
    box-shadow:none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;;
    padding: 0 !important;;
    height:100% !important;
    width:100% !important;
}
.btn-secondary:focus{
    box-shadow:none !important;
}
.btn-secondary::after {
    border: none !important;;
}
.dropdown-item-list-cart {
    width:100%;
    height:100%;
    min-height:100%;
    /* height:500px; */
    /* border:1px solid black;  */
    display: flex;
    flex-direction: column;

}
.dropdown-item-keranjang-list-cart {
    width:100%;
    height:40px;
    
    /* min-height:40px; */
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
    border-bottom:1px solid #a5a6a9;
    margin-bottom:5px;
}
.dropdown-item-list-cart p:nth-child(1){
    margin:0px !important;
    font-size:1em;
    font-weight:600;
}
.dropdown-item-list-cart p:nth-child(2){
    margin:0px !important;
    font-size:1em;
    font-weight:700;
    color:#27aae1;
}



.box-logo-header{
    width:10%;
    height:100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.box-logo-header img{
    width:60%;
    height:25%;
}
.box-logo-header img:hover{
    cursor: pointer;
}
.all-category-header-box {
    width:10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
     /* background-color: #caf0f8; */
}
.all-category-header-box p {
    color:#6D767E;
    transition:0.5s;
}
.all-category-header-box p:hover{
    cursor: pointer;
    color:#F7941D;
}
.box-searching-product-header{
    width:50%;
    height:100%;
    /* border:1px solid black; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-box-searching{
    height:60%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    flex-direction: column;
}
.css-b62m3t-container {
    width:80% !important;
    
}
.box-render-searching-product-header{
    width:100%;
    height:50px;
    border:1px solid black;
    background-color: red;
    position:absolute;
    top:15%;
    left:0%;
}
.category-random-box{
    height:40%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
}
.menu-from-header{
    width:30%;
    height:100%;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: row;
}
.input-product-header{
    width:90%;
    height:30px;
    border-radius:5px;
    /* border:1px solid #dedede; */
    border:none;
    outline:none;
}
.input-product-header:focus{
    border:none;
    /* background-color: red; */
    color:#27aae1;
    outline:none
    /* background-color: red; */
}
.input-product-searching{
    width:80%;
    border:1px solid #dedede;
    height:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
.icon-searching-product:hover {
    cursor:pointer;
}
.category-random-item{
    /* width:20%; */
    width:auto; 
    margin:5px;
    height:100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-random-item p{
    font-size:0.6em;
    color:#535353;
    width:100%;
    text-align: center;
    transition:0.5s;
    
}
.category-random-item:hover{
    cursor: pointer;
  
}
.category-random-item:hover p{
    color:#27aae1;
}
.item-menu-1 {
    width:25%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:1px solid black; */
}
.item-menu-1 .box-active-item-menu img{
    height:40%;
    width:40%;
    margin-bottom:5px;
}
.item-menu-1  .box-active-item-menu p {
    font-size:0.7em;
    margin:0px !important;
    color:#535353;
}

.box-active-item-menu{
    height:80%;
    width:90%;
    /* border:1px solid #caf0f8; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #caf0f8; */
    border-radius:5px;
    transition:0.5s;
 
}
.box-active-is-active{
    cursor: pointer;
    background-color: #caf0f8;
   box-shadow: 0 14px 20px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* .box-active-item-menu:hover{
    cursor: pointer;
     background-color: #caf0f8;
    box-shadow: 0 14px 20px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
} */
.box-cart-counter{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* border:1px solid black; */

}
#img-cart-counter {
    width:40%;
    height:90%;
}
#cart-counter{
    position: absolute;
    /* top:10%; */
    color:#F7941D;
    
}

.icon-login-logout {
    width: 40%;
    height:40%;
    color:#27aae1;
}

/* render item list cart */

.render-item-list-cart{
    width:100%;
    height:50px;
    
    border-bottom:1px solid #dedede;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-bottom:5px;
    justify-content: space-between;
    transition: 1s;;

}
.render-item-list-cart:hover{
    cursor: pointer;
}
.render-item-list-cart:hover .render-name-list-cart p:nth-child(1){
    color:#27aae1;
    
}
.render-img-list-cart{
    width:15%;
    height:100%;
    
    /* border:1px solid black; */
}
.render-name-list-cart{
    width:55%;
    display: flex;
    flex-direction: column;
    padding-left:5px;
    transition: 1s;
}
.render-name-list-cart p:nth-child(2){
    font-size:0.7em;
    color:#a5a6a9;
}
.p-limited-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:scroll;
    width:100%;
    transition:0.5s;
}
.render-price-list-cart{
    width:30%;
    /* background-color: red; */
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.render-price-list-cart p {
    color:#f6941c;
}
.p-price-limited {
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: end;
}



/* render item list cart */


/* render cart kosong */
.cart-kosong-list-cart{
    width:100%;
    height:300px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
.cart-kosong-list-cart p:nth-child(2){
    font-weight:600;
    font-size:20px;
}
.cart-kosong-list-cart p:nth-child(3){
    /* font-weight:600; */
    font-size:0.8em;
    color:#a5a6a9;
    text-align: center;
}
.box-img-cart-kosong{
    width:60%;
    height:60%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
/* render cart kosong */


/* render Login header Auth */
.dropdown-menu-auth-header{
    width: 100%;
    height:300px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}
.profile-menu-auth-header{
    width:90%;
    height:70px;
    border-radius:8px;
    box-shadow: 0px 10px 10px rgb(165,166,169,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
}
.profile-menu-auth-header p:nth-child(2){
    font-size:1em;
    font-weight:600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:scroll;
}
.box-img-profile-menu-auth-header{
    width:15%;
    min-width:15%;
    height:100%;
    border-radius:50%;
    /* border:1px solid black; */
    margin-right:5px;
}
.box-img-profile-menu-auth-header img{
    border-radius:50%;
    height:100%;
    width:100%;
}

.box-option-auth-header{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box-option-left-auth{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
    border-right:1px solid #dedede;
    padding-top:15px;
    padding-left:10px;
    padding-right:10px;
}
.box-option-right-auth{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top:15px;
    padding-left:10px;
    padding-right:10px;
    /* background-color: blue */
    /* border-right:1px solid #dedede; */
}

.small-box-option-auth{
    width:100%;
    height:40px;
    /* border:1px solid black; */
    border-bottom:1px solid #dedede;
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-left:10px; */
    /* padding-right:10px; */
}
.small-box-option-auth p:nth-child(2){
    width:50%;
    margin: 0px !important;
    font-size:0.8em;

}
.small-box-option-auth p:nth-child(3){
    width:30%;
    margin: 0px !important;
    color:#27aae1;
    font-size:0.9em;
    
}
.box-img-icon-payment-auth{
    width:30px;
    height: 30px;
    border-radius:50%;
    /* border:1px solid black; */
    margin-right:5px;
}
.box-img-icon-payment-auth img{
    width:100%;
    height:100%;
    border-radius:50%;
}

.box-menu-right-auth{
    width:100%;
    height:70%;
    display: flex;
    flex-direction: column;
    padding-left:10px;
    /* background-color: red; */
}
.box-menu-right-auth p {
    font-size:1em;
    margin:0px !important;
    font-weight:400;
    line-height:30px;
    transition:0.5s;
}
.box-menu-right-auth p:hover{
    cursor: pointer;
    color:#27aae1;
}
.box-login-logout-auth{
    width:100%;
    height:20%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition:0.5s;
}
.box-login-logout-auth p:nth-child(2):hover{
    cursor: pointer;
    color:#27aae1;
}

/* render login header auth */


.dropdown-menu-toggle-allcategory{
    /* top:-10px !important; */
    width:100vw !important;
    height:500px;
    max-height:500px !important;
    padding-left:5px !important;
    padding-right:5px !important;
    overflow-x:scroll;
    transition: 1s;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 11.1 */
   -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
     -o-animation: fadein 0.5s; /* Opera < 11.1 */
        animation: fadein 0.5s;
        box-shadow: 0px 15px 10px -15px #111 !important;
}

.box-category-hover{
    width:100%;
    height:420px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border:1px solid pink; */
}

.box-subcategory-hover{
    width:20%;
    height:100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-right:1px solid #dedede;
}
.box-subcategory-hover ul{
    list-style-type: none;
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:10px;
    overflow-x: scroll;
}
.box-subcategory-hover ul li {
    width:100%;
    height:30px;
    min-height:30px;
    /* border:1px solid #e5e7e9; */
    /* background-color: #e5e7e9; */
    margin:5px;
    color:black;
    font-weight:500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
    border-radius:3px;
}
.box-subcategory-hover ul li:hover{
    background-color: #e5e7e9;
    cursor: pointer;

}
.box-product-category-hover{
    width:80%;
    height:100%;
    /* border:1px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-title-category{
    width:100%;
    height:20%;
    border:1px solid black;
}

.box-detail-product{
    width:100%;
    height:80%;
    border:1px solid pink;
}


.nav-item {
    width:auto !important;
    min-width:auto !important;
}

.nav-item:hover{
    cursor: pointer;
}

.box-option-allcategory{
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.row {
    padding:5px !important;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
}
.nav-pills .nav-link.active {
    background-color: #27aae1 !important;
}

.nav-item .nav-link {
    color:#dedede !important;
}

.active-subcategory{
    background-color: #dedede;
    color:black;
}



